# --- Terraform ---
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl  
backend.conf

# --- Ansible ---
*.retry
.ansible_vault_pass

# --- Secrets & Local Configs ---
configuration/inventory/hosts.yml
scripts/watchdog.conf


# --- OS/Misc ---
.DS_Store
**/.idea/
**/.vscode/
**/__pycache__/
.env
pack_homelab.py
homelab_context.md
notes.md
PRIVATE.txt
scripts/watchdog.conf

