[Interface]
Address = {{ vpn_ip }}/32
PrivateKey = {{ wireguard_private_key }}
ListenPort = 51820

{% if 'gcp' in group_names %}
# --- GCP GATEWAY CONFIGURATION ---
# Masquerade traffic (NAT) so packets can return
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o ens4 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o ens4 -j MASQUERADE

# Loop through ALL VPN Clients (Ops-Center, K3s-Prod, etc.)
{% for host in groups['vpn_clients'] %}
[Peer]
# Client: {{ host }}
PublicKey = {{ hostvars[host]['wireguard_public_key'] }}
AllowedIPs = {{ hostvars[host]['vpn_ip'] }}/32
{% endfor %}

{% else %}
# --- CLIENT CONFIGURATION (Ops-Center / K3s) ---
[Peer]
# Connect to GCP Gateway
PublicKey = {{ hostvars[groups['gcp'][0]]['wireguard_public_key'] }}
Endpoint = {{ hostvars[groups['gcp'][0]]['vpn_endpoint'] }}:51820
AllowedIPs = 10.100.0.0/24
PersistentKeepalive = 25
{% endif %}